<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 自定义form认证过虑器 -->
	<!-- 基于Form表单的身份验证过滤器，不配置将也会注册此过虑器，表单中的用户账号、密码及loginurl将采用默认值，建议配置 -->
	<bean id="formAuthenticationFilter"
		  class="com.hz.ssm.utils.CustomFormAuthenticationFilter">
		<!-- 表单中账号的input名称 -->
		<property name="usernameParam" value="userName" />
		<!-- 表单中密码的input名称 -->
		<property name="passwordParam" value="userPassWord" />
		
	</bean>
	
	<!-- rememberMeManager管理器，写cookie，取出cookie生成用户信息 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cookie" ref="rememberMeCookie" />
	</bean>
	<!-- 记住我cookie -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<!-- rememberMe是cookie的名字 -->
		<constructor-arg value="rememberMe" />
		<!-- 记住我cookie生效时间30天 -->
		<property name="maxAge" value="2592000" />
	</bean>


	<!-- 缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />


	<!-- 
		配置权限管理器
		获取登陆令牌
		加载角色和权限
	 -->
	 <bean id="authRealm" class="com.hz.ssm.realm.AuthRealm">
	 		
	</bean>
	 
	<!--把自定义的AuthRealm域对象注入到shiro的安全管理器  -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- ref对应我们写的realm MyShiro -->
		<property name="realm" ref="authRealm" />
		<!-- 使用下面配置的缓存管理器 -->
		<property name="cacheManager" ref="cacheManager" />
	</bean>

	<!-- 自定义的过滤器，用来判断当前用户是否是roles["admin,operator"]中的某个角色 -->  
    <bean id="roleOrFilter" class="com.hz.ssm.utils.CustomRolesAuthorizationFilter" />




	<!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 调用我们配置的权限管理器 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 配置我们的登录请求地址 -->
		<property name="loginUrl" value="/login.jsp" />
		<!-- 配置我们在登录页登录成功后的跳转地址，如果你访问的是非/login地址，则跳到您访问的地址 -->
		<property name="successUrl" value="/index.jsp" />
		<!-- 如果您请求的资源不再您的权限范围，则跳转到/403请求地址 -->
		<property name="unauthorizedUrl" value="/403.jsp" />
		
		<property name="filters">  
            <map> 
            	<!-- 将自定义 的FormAuthenticationFilter注入shiroFilter中-->
				<entry key="authc" value-ref="formAuthenticationFilter" />   
                 <entry key="roleOrFilter" value-ref="roleOrFilter"/>
            </map> 

        </property>
		
		<!-- 权限配置 -->
		<property name="filterChainDefinitions">
			<value>
				<!-- anon表示此地址不需要任何权限即可访问 -->
				<!-- 路径必须一致 -->
				/user/checkLoging.action=anon
				/ajax/**=anon
				/css/**=anon
				/biz/**=anon
				/fonts/**=anon
				/img/**=anon
				/js/**=anon
				/less/**=anon
				/login.jsp =anon
				
				
			
				
				
				 /pages/purchasing/**=authc,roleOrFilter["采购管理员,系统管理员"]
				/pages/store/**=authc,roleOrFilter["仓库管理员,系统管理员"]
				/pages/sales/**=authc,roleOrFilter["销售管理员,系统管理员"]
				/pages/Finance/**=authc,roleOrFilter["财务管理员,出纳,系统管理员"]
				/pages/produce/**=authc,roleOrFilter["生产管理员,系统管理员"]
				/pages/personal/**=authc,roleOrFilter["人事管理员,系统管理员"]
				/pages/system/**=authc,roleOrFilter["系统管理员"] 
			
			
				<!--所有的请求(除去配置的静态资源请求或请求地址为anon的请求)都要通过登录验证,如果未登录则跳到/login -->
				/** = authc
			</value>
		</property>
	</bean>



</beans> 